

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1> Welcome to our API! </h1>
    <h2> Available routes: </h2>
    <p> /api/v1.0/tweets returns all data in json</p>
    <p> /api/v1.0/breakdown returns month by month claim data</p>
  </body>
  <style>
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Property of Don, Mac, Matt, and Clay 2020</p>
</div>
</html>

